body {
    font-family: "Shrikhand", sans-serif;
    color: white;
    background-color: #66b9bf;
}


/*----------------------------------------------------------------------text*/

.text-color {
    color: #fafafa;
}

.text-color-white {
    color: #fafafa;
}

.text-color-black {
    color: #000000;
}

.sub-text-color {
    color: #fafafa;
    font-size: 30px;
    font-weight: bold;
}

.title-text-color {
    color: #000000;
    text-align: center;
}

.main-text {
    font-family: Poppins;
    font-size: 14px;
}

.minor-text {
    font-family: Poppins;
    font-size: 12px;
}

.album-main-text {
    font-family: Poppins;
    font-size: 14px;
    padding: 10px;
}

.album-main-text-2 {
    font-family: Poppins;
    font-size: 14px;
    padding: 20px;
}

.main-text-bold {
    font-family: Poppins;
    font-weight: bold;
    font-size: 14px;
    color: #fafafa;
}

.title-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
}

.band-title-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}    
    
.album-title-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px
}

.calling-text {
    font-family: Poppins;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.section-title {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 5px;
    background-color: #fafafa;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}

.sub-heading {
    font-family: Poppins;
    margin-bottom: 20px;
    text-align: center;
}

.sub-heading-band {
    margin-bottom: 30px;
    text-align: center;
}


/*---------------------------------------------------------container boxes*/


.title-box {
    background-color: rgba(100, 50, 3, 0.70);
    padding: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 5px;
}

.title-box-2 {
    background-color: #fafafa;
    padding: 10px;
    margin: 25px;
    border-radius: 5px;
}

.title-box-3 {
    background-color: #cc9356;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 25px;
    margin-top: 5px;
    border-radius: 20px;
}


/*------------------------------------------------------------------navbar*/

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fafafa;
}    

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color:  #e8b460;
    transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}

.navbar-header {
    background-color: #000000;
}

.navbar-default {
    background-color: #000000;
}

.navbar-default .navbar-brand {
        color: #f4f4f4;
}

.navbar .navbar-brand:hover {
    color: #e8b460;
}


.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #e8b460;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
    color: #f4f4f4;
    font-size: 25px;
  
}

.navbar-brand {
    height: 50px;
    float: left;
    padding: 20px 15px;
    font-size: 30px;
    line-height: 10px;
     transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}    

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #000000;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

/*-------------------------------------------------------------home page*/

.homepage-container {
    height: 100vh;
    background: url("../images/monkees-chairs2.png") no-repeat; 
    background-size: cover;
    display: flex;  
    align-items: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home-container {
    background-color: #114c65;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
}

.home-banner {
    font-size: 30px;
    padding-top: 30px;
}

.home-banner-mobile {
    font-size: 10px;
    padding-top: 15px;
}


.home-footer .list-inline {
    font-size: 40px;
    
}

.home-image {
    text-align: center;
}

.home-image-link img {
    border-radius: 10px;
}
    
 #page1 {
    padding-top: 50px;
} 


/*-----------------------------------------------------band members section*/

.band-container {
     background-color: #366f86;
     padding-top: 30px;
     padding-bottom: 50px;
}

.band-members img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
}


/*-------------------------------------------------------------events section*/

.events-container {
   background: url("../images/concert.png") no-repeat fixed; 
   background-size: cover;
   display: flex;  
   align-items: center;
   position: relative;
   padding-top: 30px;
   padding-bottom: 50px;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
}


/*------------------------------------------------------------media section*/

.media-container {
    background-color: #366f86;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 50px;
}

.media {
    display: block;
    padding-bottom: 20px;
}

.media-album {
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #cc9356;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}

.media-album img {
    border-radius: 5px;
}

.media-photos {
    display: block;
    padding-bottom: 20px;
}


/*-------------------------------------------------------------news section*/

.news-container {
   
   padding-top: 30px;
   padding-bottom: 50px;
}

.news-container {
   background: url("../images/ticket.png") no-repeat fixed; 
   background-size: cover;
   display: flex;  
   align-items: center;
   position: relative;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
}


/*-----------------------------------------------------------contact section*/

.contact-container {
    background-color: #cc9356;
    color: #000000;
    padding-top: 30px;
}

.input-text {
    font-family: sans-serif;
    font-size: 16px;
}  

.contact-section {
    padding: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: #366f86;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}

.contact-image img {
    border-radius: 5px;
    margin-top: 100px;
}


/*-----------------------------------------------------newsletter section*/

.newsletter-container {
    background-color: #cc9356;
    padding-bottom: 20px;
}

.newsletter {
   margin-bottom: 40px;
}

.newsletter-image img {
    border-radius: 5px;
}


/*----------------------------------------------------------footer section*/

.footer-container {
    background-color: black;
}


.footer-links {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.footer-brand {
    font-size: 20px;
    padding-top: 15px;
}
    
/*-----------------------------------------------------------------quotes*/


.quote {
    color: #000000;;
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 30px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}


/*----------------------------------------------------------social links*/ 


.list-inline {
    padding-bottom: 15px;
    padding-top: 10px;
    float: right;
}

.social-links {
    padding-bottom: 15px;
    padding-top: 30px;
    float: right;
}

.fa-facebook-square {
    color: white;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-twitter-square {
    color: white;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-youtube-square {
    color: white;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 

.fa-facebook-square:hover {
    color: #3b5998;
}    

.fa-twitter-square:hover {
    color: #0084b4;
}   

.fa-youtube-square:hover {
    color: #c4302b;
}      


/*-----------------------------------------------------------button*/

.btn-warning {
    background-color: #961c16;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    border-color: transparent;
}

.btn-warning:hover {
    color: #fff;
    background-color: #e76b17;
    border-color: transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-button {
    margin-top: 30px;
    margin-bottom: 15px;
}


/*---------------------------------------------------------------media query*/

    
@media (max-width: 767px) {
    .homepage-container { 
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .homepage-container {
       height: 400px;
    }
}

@media(min-width: 992px) and (max-width: 1800px) {
    .homepage-container {
       height: 600px;
        
    }
}

@media (min-width: 1800px) {
    .homepage-container {
       height: 900px;
    }
}