body {
    font-family: "Shrikhand", sans-serif;
    color: white;
    background-color: #e8b460;
}


/*----------------------------------------------------------------------text*/

.text-color {
    color: #000000;
}

.main-text {
    font-family: Poppins;
    font-size: 16px;
}

.main-text-bold {
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
}

.title-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
}

.calling-text {
    font-family: Poppins;
    font-size: 30px;
}



 
/*-----------------------------------------------------navbar*/

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fafafa;
}    

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: #e65a06cf;
    transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}

.navbar-header {
    background-color: #000000;
}

.navbar-default {
    background-color: #000000;
}

.navbar-default .navbar-brand {
        color: #f4f4f4;
}

.navbar .navbar-brand:hover {
    color: #e8b460;
}


.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #e8b460;
    transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
    color: #f4f4f4;
    font-size: 25px;
}

.navbar-brand {
    height: 50px;
    float: left;
    padding: 20px 15px;
    font-size: 30px;
    line-height: 20px;
     transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}    

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #000000;
}



/*-----------------------------------------------------home page*/

.callout-container {
    height: 100vh;
    background: url("../images/monkees-chairs2.png") no-repeat; 
    background-size: cover;
    display: flex;  
    align-items: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home-container {
    background-color: #000000;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-footer {
    font-size: 53px;
}

.home-footer .list-inline {
    font-size: 40px;
}

.home-image {
    text-align: center;
}
    





/*--------------------------------------------------------Jumbotron*/


.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
    color: inherit;
    height: 30px;
    background-color: white;
    box-shadow: 10px 10px 10px #00000038;
}





/*------------------------------------------------------------header section*/
 
 #page1 {
    padding-top: 50px;
} 


 
/*-----------------------------------------------------band members section*/

.band-container {
     background-color: #e65a0669;
     padding-top: 30px;
     padding-bottom: 50px;
}


/*-------------------------------------------------------------events section*/


.events-container {
     background-color: #423a3a;
     padding-top: 30px;
     padding-bottom: 50px;
}

.events-container {
   background: url("../images/concert.png") no-repeat fixed; 
   background-size: cover;
   display: flex;  
   align-items: center;
   position: relative;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
}

.title-box-3 {
    background-color: #af33007d;
    padding: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
}




/*-----------------------------------------------------media section*/




.media-container {
    background-color: #e65a0669;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 50px;
}

.media {
    display: block;
    padding-bottom: 20px;
}

.media-album {
    margin-bottom: 35px;
    background-color: #af33007d;
}


/*-----------------------------------------------------news section*/

.news-container {
   background-color: #d68031a6;
   padding-top: 30px;
   padding-bottom: 50px;
}

.news-container {
   background: url("../images/ticket.png") no-repeat fixed; 
   background-size: cover;
   display: flex;  
   align-items: center;
   position: relative;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
}

/*-----------------------------------------------------contact section*/

.contact-container {
    background-color: #e65a0669;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 50px;
}

.input-text {
    font-family: sans-serif;
    font-size: 16px;
}    


/*-----------------------------------------------------newsletter section*/


.newsletter-container {
    background-color: #b15302;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.newsletter {
    text-align: center;
    margin-bottom: 40px;
}


/*----------------------------------------------------------footer section*/

.footer-container {
    background-color: black;
}


.footer-links {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.footer-brand {
    font-size: 20px;
}
    


/*----------------------------------------------------------social links*/ 


    
.list-inline {
    padding-bottom: 15px;
    padding-top: 15px;
    float: right;
}


.fa-facebook-square {
    color: white;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-twitter-square {
    color: white;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.fa-youtube-square {
    color: white;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} 


.fa-facebook-square:hover {
    color: #3b5998;
}    

.fa-twitter-square:hover {
    color: #0084b4;
}   

.fa-youtube-square:hover {
    color: #c4302b;
}      

/*-----------------------------------------------------------button*/

.btn-warning {
    background-color: #961c16;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    border-color: transparent;
}

.btn-warning:hover {
    color: #fff;
    background-color: #e76b17;
    border-color: transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*---------------------------------------------------------------media query*/

    
@media (max-width: 767px) {
    .callout-container {
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .callout-container {
        height: 400px;
    }
}

@media(min-width: 992px) and (max-width: 1800px) {
    .callout-container {
        height: 600px;
        
    }
}


